<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroism Gym Theme - Membership</title>

    <!--=======================================
      All Css Style link
    ===========================================-->

    <!-- Custom styles for this template -->

    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet" >
    <!-- FAVICONS -->
    <link rel="icon" href="img/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="img/favicon-16x16.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon-16x16.png">

    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="img/apple-icon-72x72.png"
        sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="img/apple-icon-114x114.png"
        sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="img/apple-icon-144x144.png"
        sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="img/favicon-16x16.png" />

    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/navbarIn.js"></script>
</head>

<body>

    <!-- Pre Loader Area start -->
    <!-- <div id="preloader">
        <div class="loader"></div>
    </div> -->
    <!-- Pre Loader Area End -->

    <!-- Menu Area Start -->
    <section class="menu-section-area padding-zero">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top d-none d-sm-none d-md-block d-lg-block d-xl-block"
            id="mainNav">

        </nav>
        <!-- Navigation -->

        <!-- Mobile Menu Start -->
        <nav class="mobile_menu hidden d-none ">
            <div id="navegacionMobile">

            </div>
        </nav>
        <!-- Mobile Menu End -->
    </section>
    <!-- Menu Area End -->

    <!-- Our Class Schedule Area Start/ -->
    <section class="get-a-membership-area">
        <div class="section-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mt-5">
                        <h2 class="para-color mt-5">Ingreso al sistema</h2>
                    </div>
                </div>

                <div class="row">
                    <!-- Membership Form Area Start-->

                    <div class="col-sm-12">
                        <div class="leave-comment-area get-membership-form">
                            <form action="/login" method="POST">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group para-color font-17">
                                            <label for="cus_email" style="color: cornsilk;">Correo
                                                electrónico<span>*</span></label>
                                            <input type="email" class="form-control" id="cus_email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group para-color font-17">
                                            <label for="cus_name" style="color: cornsilk;">Contraseña<span>*</span></label>
                                            <input type="text" class="form-control" id="cus_name" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="contact-sub-btn text-center">
                                            <button type="button"
                                                class="btn section-button btn-effect bg-orange text-capitalize">Ingresar</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="contact-sub-btn text-center mb-5">
                                            <input type="checkbox"><label style="color: cornsilk;">
                                                &nbsp Recordarme</label></input>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="card social-block" style="margin: 0 auto; width:35%;">
                                      <div class="card-body">
                                        <a class="btn btn-block btn-lg btn-google" href="/auth/google" role="button">
                                          <i class="fab fa-google"></i>
                                          Google
                                        </a>
                                      </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="mb-5">.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Membership Form Area End-->
                </div>
            </div>
        </div>
    </section>
    <!-- Our Class Schedule  Area End -->

    <!-- Footer Start -->
    <footer class="footer">
        <!-- Footer Bottom Area Start-->

        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom-part">
                            <div class="copyright"><a href="https://anditthemes.com/">Energym</a> &copy; 2021. All
                                Rights Reserved</div>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Footer Bottom Area End-->

    </footer>

    <!--Top Arrow area start-->
    <!-- <div class="top-arrow">
        <a href="#" id="scroll" style="display: none;"><i class="fas fa-angle-up"></i></a>
    </div> -->
    <!--Top Arrow area End-->

    <!--=======================================
          All Jquery Script link
    ===========================================-->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- ==== Plugin JavaScript ==== -->

    <!-- jQuery owl carousel -->
    <!-- <script src="publicjs/owl.carousel.min.js"></script>

    <script src="publicvendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!--  Counter Up JavaScript-->
    <!-- <script src="publicjs/waypoints.min.js"></script>
    <script src="publicjs/jquery.counterup.min.js"></script> -->

    <!--Parallax Script-->
    <!-- <script src="publicjs/TweenMax.min.js"></script> -->

    <!--VenoBox Script-->
    <!-- <script src="publicjs/venobox.min.js"></script> -->

    <!--WOW JS Script-->
    <!-- <script src="publicjs/wow.min.js"></script> -->

    <!--AOS JS Script-->
    <!-- <script src="publicjs/aos.js"></script> -->

    <!--Paroller JS Script-->
    <!-- <script src="publicjs/jquery.paroller.min.js"></script> -->

    <!--Mean Menu/Mobile Menu Script-->
    <!-- <script src="publicjs/jquery.meanmenu.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <!-- <script src="publicjs/custom.js"></script> -->

</body>

</html>
